[databaseConfig]
database = "social_media_database"
user = "dummyuser"
password = "dummypassword"
host = "localhost"
port = 3306

[sentimentEndpointConfig]
endpointUrl = "http://localhost:9098/text-processing"
retryInterval = 3.0

[ballerina.observe]
metricsEnabled=true
metricsReporter="prometheus"
tracingEnabled=true
tracingProvider="jaeger"

[ballerinax.wso2.controlplane.dashboard]
url = "https://localhost:9743/dashboard/api"
heartbeatInterval = 10
groupId = "Ripplit"
mgtApiUrl ="https://host.docker.internal:9264/management/"
nodeId = "REST Backend Node"
